# Ignore RMarkdown-generated HTML reports (large embedded output)
en/data/data-analysis/projects/ecobici-2024/urban-mobility-analysis.html linguist-detectable=false
es/data/data-analysis/projects/ecobici-2024/urban-mobility-analysis.html linguist-detectable=false
it/data/data-analysis/projects/ecobici-2024/urban-mobility-analysis.html linguist-detectable=false
